<div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSignin(f)" #f="ngForm">
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" name="email"ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"ngModel class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign in</button>
            </form>
        </div>
    </div>